  <form>
    <div class="row">
      <div class="col-sm-4">
        <input type="text" placeholder="Search..." class="form-control">
      </div>
      <div class="col-sm-8"></div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="well well-sm">
          <div class="row">
            <div class="col-sm-5">
              <img src="/images/green-turtle.jpg" class="img-responsive">
            </div>
            <div class="col-sm-7">
              <h5>Green Turtle</h5>
              <p><b>Locations</b>:Tropical and subtropical oceans worldwide</p>
              <p><b>Size</b>:Up to 1.5m and up to 300kg</p>
              <p><b>Average Lifespan</b>:Over 80 years</p>
              <p><b>Diet</b>:Herbivore</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>







<!-- <div class="jumbotron">
  <h1>'Allo, '{{name}}!</h1>
  <h1 ng-model="name"></h1>
  <input type="text" name="" ng-click="click()">
  
  <input type="text" name="" ng-show="hide1">

</div>

 -->